_bookdown_files/                                                                
.Rproj.user                                                                     
.RData                                                                          
.Rhistory
.Rproj.user
